@model InvoiceManagementSystem.Models.DashboardModel
@{
    ViewBag.Title = "Home";
    ViewBag.ActionName = "Home";
}
<style>
    .box {
        transition: box-shadow .3s;
    }

        .box:hover {
            box-shadow: 0 0 11px rgba(33,33,33,.2);
        }
</style>
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
            <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
        </nav>
    </div>
</nav>
<!-- End Navbar -->
<div class="container-fluid py-4">
    @if (InvoiceManagementSystem.Models.SessionModel.RoleId == 1)// SUPER ADMIN ROLE ===1
    {
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                @{if (Model.LSTDashBoardList != null && Model.LSTDashBoardList.Count > 0)

                    {
                        <div class="box">
                            <div class="card card-facebook">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Class</p>

                                                <a onclick="ClassRoom(1);">
                                                    <h5 class="font-weight-bolder">@(Model.LSTDashBoardList[0].TotalClassRoom == 0 ? 0 : Model.LSTDashBoardList[0].TotalClassRoom)</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card" id="box">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Subject</p>
                                    <a href="/Subject/Subject">
                                        <h5 class="font-weight-bolder">@(Model.LSTDashBoardList[0].TotalSubject == 0 ? 0 : Model.LSTDashBoardList[0].TotalSubject)</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card" id="box">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Student</p>
                                    <a href="/Student/Student">
                                        <h5 class="font-weight-bolder">@(Model.LSTDashBoardList[0].TotalStudent == 0 ? 0 : Model.LSTDashBoardList[0].TotalStudent)</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="card" id="box">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Teacher</p>
                                    <a href="/Teacher/Teacher">
                                        <h5 class="font-weight-bolder">@(Model.LSTDashBoardList[0].TotalTeacher == 0 ? 0 : Model.LSTDashBoardList[0].TotalTeacher)</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="margin-left:1px">
            <div class="col-xl-5 col-sm-6 mb-xl-0 mb-6">
                @if (Model.LSTTeacherList != null)
                {
                    <div class="row">
                        @for (int i = 0; i < Model.LSTTeacherList.Count; i++)
                        {
                            if (Model.LSTTeacherList[i].Dob != null && Model.LSTTeacherList[i].Type == 1)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p style="text-decoration:underline;" class="text-sm mb-0 text-uppercase font-weight-bold">Teacher's Today's Birthday</p>
                                                    <br />
                                                    @foreach (var item in Model.LSTTeacherList)
                                                    {
                                                        if (item.Dob != null && item.Type == 1)
                                                        {
                                                            <div class="dash-card-container">
                                                                <h6 class="font-weight-bolder">@item.Dob <br /> @item.Name</h6>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-warning shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                            else if (Model.LSTTeacherList[i].Type == 2)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p style="text-decoration:underline;" class="text-sm mb-0 text-uppercase font-weight-bold">Today's Birthday</p>
                                                    <br />
                                                    <div class="dash-card-container">
                                                        <h6 style="font-size:14px" class="font-weight-bolder">Today is no one's birthday</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-warning shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            i = Model.LSTTeacherList.Count + 1;
                        }


                    </div>
                }

            </div>
            <div class="col-xl-5 col-sm-8 mb-xl-0 mb-6" style="margin-left:120px">
                @if (Model.LSTTeacherList != null)
                {
                    <div class="row">
                        @for (int i = 0; i < Model.LSTTeacherList.Count; i++)
                        {
                            if (Model.LSTTeacherList[i].Dob != null && Model.LSTTeacherList[i].Type == 2)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <h5 style="text-decoration:underline;" class="text-sm mb-0 text-uppercase font-weight-bold">Teacher's Upcoming Birthday</h5>
                                                    <br />
                                                    @foreach (var item in Model.LSTTeacherList)
                                                    {
                                                        if (item.Dob != null && item.Type == 2)
                                                        {
                                                            <div class="dash-card-container">
                                                                <h6 style="font-size:14px" class="font-weight-bolder">@item.Dob - @item.Name - @item.ClassNo</h6>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-primary shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                i = Model.LSTTeacherList.Count + 1;
                            }
                        }
                    </div>
                }
            </div>
        </div>
        <br />
        <div class="row" style="margin-left:1px">
            <div class="col-xl-5 col-sm-6 mb-xl-0 mb-6">
                @if (Model.LSTStudentList != null)
                {
                    <div class="row">
                        @for (int i = 0; i < Model.LSTStudentList.Count; i++)
                        {
                            if (Model.LSTStudentList[i].Dob != null && Model.LSTStudentList[i].Type == 1)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p style="text-decoration:underline;" class="text-sm mb-0 text-uppercase font-weight-bold">Student's Today's Birthday</p>
                                                    <br />
                                                    @foreach (var item in Model.LSTTeacherList)
                                                    {
                                                        if (item.Dob != null && item.Type == 2)
                                                        {
                                                            <div class="dash-card-container">
                                                                <h6 style="font-size:14px" class="font-weight-bolder">@item.Dob - @item.Name - @item.ClassNo</h6>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-warning shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                            else if (Model.LSTStudentList[i].Type == 2)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p style="text-decoration:underline;" class="text-sm mb-0 text-uppercase font-weight-bold">Student's Today's Birthday</p>
                                                    <br />
                                                    <div class="dash-card-container">
                                                        <h6 style="font-size:14px" class="font-weight-bolder">Today is no one's birthday</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-warning shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            i = Model.LSTStudentList.Count + 1;
                        }


                    </div>
                }

            </div>
            <div class="col-xl-5 col-sm-8 mb-xl-0 mb-6" style="margin-left:120px">
                @if (Model.LSTStudentList != null)
                {
                    <div class="row">
                        @for (int i = 0; i < Model.LSTStudentList.Count; i++)
                        {
                            if (Model.LSTStudentList[i].Dob != null && Model.LSTStudentList[i].Type == 2)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <h6 style="text-decoration:underline;font-size: 28px;" class="text-sm mb-0 text-uppercase font-weight-bold">Student's Upcoming Birthday</h6>
                                                    <br />
                                                    @foreach (var item in Model.LSTStudentList)
                                                    {
                                                        if (item.Dob != null && item.Type == 2)
                                                        {
                                                            <div class="dash-card-container">
                                                                <h6 style="font-size:14px" class="font-weight-bolder">@item.Dob - @item.Name - @item.ClassNo</h6>
                                                            </div>
                                                        }
                                                    }



                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-primary shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                i = Model.LSTStudentList.Count + 1;
                            }
                        }



                    </div>
                }
            </div>
        </div>
    }
    else if (InvoiceManagementSystem.Models.SessionModel.RoleId == 2)
    {
        <div class="row">
            @*<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    @{if (Model.LSTDashBoardList != null && Model.LSTDashBoardList.Count > 0)

                        {
                            <div class="card">
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="numbers">
                                                <p class="text-sm mb-0 text-uppercase font-weight-bold">Total ClassRoom</p>

                                                <a href="/ClassRoom/ClassRoom">
                                                    <h5 class="font-weight-bolder">@(Model.LSTDashBoardList[0].TotalClassRoom == 0 ? 0 : Model.LSTDashBoardList[0].TotalClassRoom)</h5>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-4 text-end">
                                            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                                                <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                    <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Subject</p>
                                        <a href="/Subject/Subject">
                                            <h5 class="font-weight-bolder">@(Model.LSTDashBoardList[0].TotalSubject == 0 ? 0 : Model.LSTDashBoardList[0].TotalSubject)</h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                    <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                                        <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Student</p>
                                    <a href="/Student/Student">
                                        <h5 class="font-weight-bolder" style="color:steelblue">@(Model.LSTDashBoardList[0].TotalStudent == 0 ? 0 : Model.LSTDashBoardList[0].TotalStudent)</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="margin-left:1px">
            <div class="col-xl-5 col-sm-6 mb-xl-0 mb-6">
                @if (Model.LSTStudentList != null)
                {
                    <div class="row">
                        @for (int i = 0; i < Model.LSTStudentList.Count; i++)
                        {
                            if (Model.LSTStudentList[i].Dob != null && Model.LSTStudentList[i].Type == 1)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p style="text-decoration:underline;" class="text-sm mb-0 text-uppercase font-weight-bold">Student's Today's Birthday</p>
                                                    <br />
                                                    @foreach (var item in Model.LSTTeacherList)
                                                    {
                                                        if (item.Dob != null && item.Type == 2)
                                                        {
                                                            <div class="dash-card-container">
                                                                <h6 style="font-size:14px" class="font-weight-bolder">@item.Dob - @item.Name - @item.ClassNo</h6>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-warning shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                            else if (Model.LSTStudentList[i].Type == 2)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <p style="text-decoration:underline;" class="text-sm mb-0 text-uppercase font-weight-bold">Student's Today's Birthday</p>
                                                    <br />
                                                    <div class="dash-card-container">
                                                        <h6 style="font-size:14px" class="font-weight-bolder">Today is no one's birthday</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-warning shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            i = Model.LSTStudentList.Count + 1;
                        }


                    </div>
                }

            </div>
            <div class="col-xl-5 col-sm-8 mb-xl-0 mb-6" style="margin-left:120px">
                @if (Model.LSTStudentList != null)
                {
                    <div class="row">
                        @for (int i = 0; i < Model.LSTStudentList.Count; i++)
                        {
                            if (Model.LSTStudentList[i].Dob != null && Model.LSTStudentList[i].Type == 2)
                            {
                                <div class="card" id="box">
                                    <div class="card-body p-3">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="numbers">
                                                    <h6 style="text-decoration:underline;font-size: 28px;" class="text-sm mb-0 text-uppercase font-weight-bold">Student's Upcoming Birthday</h6>
                                                    <br />
                                                    @foreach (var item in Model.LSTStudentList)
                                                    {
                                                        if (item.Dob != null && item.Type == 2)
                                                        {
                                                            <div class="dash-card-container">
                                                                <h6 style="font-size:14px" class="font-weight-bolder">@item.Dob - @item.Name - @item.ClassNo</h6>
                                                            </div>
                                                        }
                                                    }



                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="icon icon-shape bg-gradient-primary shadow-success text-center rounded-circle">
                                                    <i class="fa fa-birthday-cake text-lg opacity-10" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                i = Model.LSTStudentList.Count + 1;
                            }
                        }



                    </div>
                }
            </div>
        </div>
    }
</div>
<div class="container-fluid py-4" id="Class">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>ClassRoom List</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <div id="ClassRoomList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Datetime js/css-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('#Class').hide();
    });
    function ClassRoom(page) {
        $('#Class').show();
        var cls = {
        }
        ShowWait();
        $.ajax({
            url: '/Home/GetClassRoom',
            contentType: "application/json; charset=utf-8",
            type: "POST",
            data: JSON.stringify({
                cls: cls
            }),
            success: function (data) {
                debugger
                $('#ClassRoomList').empty();
                $('#ClassRoomList').append(data);
                HideWait();
            },
            error: function (xhr) {
                HideWait();
                alert('errors');
            }
        });
    }
</script>